* {
    margin: 0;
}

body {
    background-color: #F9FBFC;
}
#header {
    padding: 25px 20px 0;
}
#header::after {
    content: "";
    display: table;
    clear: both;
}
#logo {
    float: left;
    width: 180px;
    height: 27px;
}
#login {
    float: right;
}
#hero {
    height:550px;
    padding-top: 78px;
}

/* Decoration */

#login {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    font-family:"Open Sans",sans-serif;
    font-size: 12px;
    border:solid #666 1px;
    border-radius: 7%;
}
#logo {
    background-image: url(https://minutemailer.com/assets/svg/minutemailer-logo.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
}
.border {
    border: solid #DCE3E6 1px;
    text-align: center;
    background-color: #FFFFFF;
}

#hero {
    text-align: center;
    background-image: url(https://minutemailer.com/assets/css/gfx/channels.png);
    background-repeat: no-repeat;
    background-size: 870px 259px;
    background-position: center 290px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 40px;
    color: #474A4D;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #81888B;
}

.first {
    margin-bottom: 43px;
    margin-top: 22px;

}

#signup {
    border-radius: 3px;
    padding: 23px 33px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #37D97A;
    color: white;
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
    margin-top: 60px;
    margin-bottom: 45px;
}
.left-column {
    float: left;
}
.photo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 35px;
    margin-left: 35px;
}
.text {
    display: block;
    color: #81888B;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

}
.interview {
    height: 100px;
    width: 50%;
    text-align: left;
    margin-bottom: 40px;
}
.comments {
    text-align: center;
    padding-bottom: 10px;
    width: 1020px;
    min-height: 270px;
    display: inline-block;
}
.comments::after {
    content: "";
    display: table;
    clear: both;
}
.name {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
}
.place {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
}
.right-column {
    float: right;
}
