body {
    margin: 0;
}
#header {
    padding: 25px 20px 0;
    background-color: #F9FBFC;
}
#header::after {
    content: "";
    display: table;
    clear: both;
}
#logo {
    float: left;
    width: 180px;
    height: 27px;
}
#login {
    float: right;
}

/* Decoration */

#login {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    font-family:"Open Sans",sans-serif;
    font-size: 12px;
    border:solid #666 1px;
    border-radius: 7%;
}
#logo {
    background-image: url(https://minutemailer.com/assets/svg/minutemailer-logo.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
}
