* {
    margin: 0;
}

body {
    background-color: #F9FBFC;
    text-align: center;
}

.attention {
    background-color: #f63232;
    color: #eee;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    text-align: center;
}

.attention a {
    color: white;
}

#header {
    padding: 25px 20px 0;
}

#header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 180px;
    height: 27px;
}

#login {
    float: right;
}

#hero {
    height: 550px;
    padding-top: 78px;
}

/* Decoration */

#login {
    text-decoration: none;
    color: #333;
    padding: 8px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    border: solid #666 1px;
    border-radius: 7%;
}

.logo {
    background-image: url(https://minutemailer.com/assets/svg/minutemailer-logo.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
}

.border {
    border: solid #DCE3E6 1px;
    background-color: #FFFFFF;
    padding-left: 30px;

}

#hero {
    background-image: url(https://minutemailer.com/assets/css/gfx/channels.png);
    background-repeat: no-repeat;
    background-size: 870px 259px;
    background-position: center 290px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 40px;
    color: #474A4D;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #81888B;
}

.first {
    margin-bottom: 23px;
    margin-top: 22px;

}

.signup {
    border-radius: 3px;
    padding: 23px 0;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #37D97A;
    color: white;
    display: block;
    width: 196px;
    margin: 0 auto;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
    margin-top: 60px;
    margin-bottom: 10px;
}

.big-break {
    margin-bottom: 45px;
}

.left-column {
    float: left;
}

.photo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 35px;
}

.text {
    display: block;
    color: #81888B;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    margin-right: 35px;
    width: 451px;

}

.interview {
    height: 100px;
    width: 50%;
    text-align: left;
    margin-bottom: 40px;
    font-size: 0;
}

.comments {
    padding-bottom: 10px;
    width: 1020px;
    min-height: 270px;
    display: inline-block;
}

.comments::after {
    content: "";
    display: table;
    clear: both;
}

.name {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
}

.place {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 40px;
    color: #2f3233;
}

.right-column {
    float: right;
}

.big {
    margin-top: 50px;
    margin-bottom: -3px;
}

.reasons {
    display: block;
    font-size: 0;
    width: 1020px;
    height: 180px;
    padding-left: 10px;
    margin: 0 auto 50px;
}

.reasons > li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    line-height: 1.2;
    color: #81888B;
    list-style: none;
    margin-top: 20px;
    display: inline-block;
    width: 33.333%;
    text-align: left;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAMAAADkSAzAAAAAq1BMVEU32Xr///832Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32Xo32XqnSESFAAAAOHRSTlMAAAMGBwoNDxUcIyQtN0JHTE5QVVtfaWp1eIGGiJKcpaasrbK0vsfJzc7P09TW3Orr7fHz9vr9/nOr3UsAAAC+SURBVHjadc7XGoIwDAXgBEVAQUVxoDhx7wXm/Z9MCq0VqOeiX07/iwSKwTTWzkleNZonutt/0DwS0c1WorEnlmtDgcaWshzKqG+4PWzW68uaRH0tzGE7rQutdWFVYU8HMTX6aiXk9mpiguY5LatK2RDEaWGi2pyXqI0ptiL+sdC0mTAXMwRX6GzKh7iLAqETUy6xhxLBy2sPJTJ9/1gf8wh9aQMsolQfywhDbqBC8JmNQY0wIgrgH0IwgQJ+AEtYL9WFs0wZAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 14px 11px;
    padding-left: 30px;
    margin-left: 0;
    box-sizing: border-box;
}

.border-reasons {
    margin-top: 45px;
    min-height: 100px;
}

#footer {
    margin: 0 auto;
    padding: 30px 0;
    width: 1030px;
}

ul.columns > li > a {
    color: #2f3233;
    text-decoration: none;
}

.columns {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    text-align: left;
    padding: 0;
}

.strong {
    color: #2f3233;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.columns > li {
    margin: 10px 0;
}

.footer-main {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    font-size: 0;
}

.copyright {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 210px;
    margin-top: 55px;
}

.foot-logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;

}
